// scaffolds/component.tsx.tmpl
// Usage: Copy, rename, replace {{placeholders}}

import React from "react";

interface {{ComponentName}}Props {
  // TODO: define props
}

export function {{ComponentName}}({ /* props */ }: {{ComponentName}}Props) {
  return (
    <div>
      {/* TODO: implement */}
    </div>
  );
}
